@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	padding: 0 10%;
}

body.home > header, body.errordocs > header {
	text-align: center;
}

h1 a {
	text-decoration: none;
	color: black;
}

footer p {
	font-size: 0.8em;
	text-align: center;
}

/* First go at creating a CSS3/HTML5 no javascript gallery-cum-lightbox... */
body.gallery {
	padding: 0 15px 15px;
}

body.gallery header {
	margin-left: 10px;
}

body.gallery a img {
	border: none;
}

body.gallery dl {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

body.gallery dl::after {
	content: "";
	display: table;
	clear: both;
}

body.gallery dl dt {
	float: left;
	width: 280px;
	height: 280px;
}

body.gallery dl dt a {
	display: block;
	margin: 10px;
	padding: 0;
	border: 5px solid #666;
	width: 250px;
	height: 250px;
	transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
}

body.gallery dl dt a:hover {
	display: block;
	margin: 0;
	padding: 0;
	width: 270px;
	height: 270px;
}

body.gallery dl dt a  > img{
	height: 250px;
	width: 250px;
	transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
}

body.gallery dl dt a:hover  > img{
	height: 270px;
	width: 270px;
}

body.gallery dl dd {
	width: 0;
	height: 0;
}

body.gallery dl dd * {
	display: none;
}

body.gallery dl img {
	display: block;
}

body.gallery dl dt img {
}

body.gallery dl dt + dd {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
}

body.gallery dl dt + dd:target {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0%;
	left: 50%;
	opacity: 1;
	background-color: white;
	height: auto;
}

body.gallery dl dt + dd:target * {
	display: block;
}

body.gallery dl dt + dd[data-orientation=landscape]:target {
	width: 910px;
	margin-top: 60px;
	margin-left: -450px;
}

body.gallery dl dt + dd[data-orientation=portrait]:target {
	width: 610px;
	margin-top: 15px;
	margin-left: -300px;
}

body.gallery dl dt + dd[data-orientation=landscape]:target > ul > li > img {
	width: 900px;
	padding: 5px 5px 0px;
}

body.gallery dl dt + dd[data-orientation=portrait]:target > ul > li > img {
	width: 600px;
	padding: 5px 5px 0px;
}

body.gallery dl dt + dd:target ul {
	list-style: none;
}

body.gallery dl dt + dd:target > a[data-empty] {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
}

body.gallery dl dt + dd:target > ul > li > a[data-empty] {
	display: block;
	position: absolute;
	top: 0;
	z-index: 100;
}

body.gallery dl dt + dd:target ul, body.gallery dl dt + dd:target ul  li{
	margin: 0;
	padding: 0;
	z-index: 1000;
	position: relative;
	background-color: white;
}

body.gallery dl dt + dd[data-orientation=landscape]:target > ul > li > a[data-empty][rel] {
	width: 450px;
	height: 600px;
}

body.gallery dl dt + dd[data-orientation=portrait]:target > ul > li > a[data-empty][rel] {
	width: 300px;
	height: 900px;
}

body.gallery dl dt + dd[data-orientation]:target > ul > li > a[data-empty][rel] {
	text-decoration: none;
}

body.gallery dl dt + dd[data-orientation]:target > ul > li > a[data-empty][rel=prev] {
	left: 5px;
	top: 5px;
}

body.gallery dl dt + dd[data-orientation]:target > ul > li > a[data-empty][rel=next] {
	right: 5px;
	top: 5px;
}

body.gallery dl dt + dd[data-orientation]:target > ul > li > a[data-empty][rel]::after {
	display: block;
	content: "";
	font-size: 25rem;
	text-shadow: 0 0 3rem #000;
	margin: 0;
	padding: 0;
	opacity: 0;
	color: white;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
}

body.gallery dl dt + dd[data-orientation]:target > ul > li > a[data-empty][rel]:hover::after {
	opacity: 0.75;
}

body.gallery dl dt + dd[data-orientation]:target > ul > li > a[data-empty][rel=prev]:hover::after {
	content: "\00AB";
}

body.gallery dl dt + dd[data-orientation]:target > ul > li > a[data-empty][rel=next]:hover::after {
	content: "\00BB";
}

@media only screen and (min-width: 310px) {
	body.gallery dl {
		width: 280px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 590px) {
	body.gallery dl {
		width: 560px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 870px) {
	body.gallery dl {
		width: 840px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1150px) {
	body.gallery dl {
		width: 1120px;
		margin: 0 auto;
	}
}